<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {# Font_Awesome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    {# Bootstrap #}
    <link rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}">
    {# styles.css #}
    <link rel="stylesheet" href="{{ asset("css/styles.css") }}">
    {# Block css #}
    {% block css %}{% endblock %}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="container-fluid">

            <a class="navbar-brand" href="#">Tester</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Ici ..</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">.. ou là</a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>

    <div class="container-fluid">
        {% block body %}
        {% endblock %}
    </div>

    {# Bootstrap #}
    <script src="{{ asset("js/bootstrap.bundle.min.js") }}"></script>
    {# Block js #}
    {% block js %}{% endblock %}

</body>
</html>